<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to my homepage</h1>

    <form action="/do_user" method='post'>
    <input type="text" name='username' placeholder="user name" value='hagil'>
    <input type="text" name='role' placeholder="user role" value='coder'>
    <input type="submit" value='enter stuff'>
    </form>

</body>
</html>