<!DOCTYPE html>
<html lang="en">
<head>

    <title>Customer Stuff</title>
</head>
<body>
    <h1>The Customer</h1>
    <p>The customer name is <%= name%> and his age is <%= age%> and his job is  <%= job%></p>
</body>
</html>